#vfastpost {
	background: #E5EDF2;
	padding: 3px;
}

.previewvfastpost {
	margin: 0px 10px 3px 10px;
}

.fullvfastpost {
	margin-top: 30px;
}

.ct2_a .mn {
	float: left;
}

.appl {
	float: right;
	margin-top: 8px;
	border: none;
	background-color: transparent;
}

.upf {
	width: 500px;
}

*+html .upf {
	width: 520px;
}

.upnf {
	white-space: normal;
}

.upbk {
	zoom: 1;
}

.fldt {
	margin-bottom: 8px;
}

.p_pop .flb {
	position: absolute;
	right: 10px;
	top: 18px;
	*top: 13px;
}

.fnm {
	width: 130px !important;
}

.fszm {
	width: 55px !important;
	line-height: normal;
}

.fnm li,.fszm li,.simm li {
	cursor: pointer;
}

#taglistarea a {
	white-space: nowrap;
	zoom: 1;
}

#taglistarea .marked {
	padding-right: 0;
	background: none;
	font-weight: 700;
	color: #F26C4F !important;
}

.p_tbl {
	height: auto;
	line-height: 160%;
	border-bottom: none;
}

.p_tbl table {
	*table-layout: fixed;
}

.p_tbl table td {
	height: 28px;
	line-height: 28px;
	border-bottom: 1px solid #fbf2db;
}

.atnu {
	width: 16px;
}

.atna {
}

.atna p img,.attswf p img {
	vertical-align: middle;
	height: 16px;
}

.atna .lighttxt,.attswf .lighttxt {
	color: #666 !important;
}

.attpr {
	width: 40px;
	text-align: center;
}

.attv .px,.attp .px {
	width: 25px;
}

.attv {
	width: 100px;
}

.atturl img {
	height: 20px !important;
}

.attc {
	width: 20px
}

*+html .attc {
	width: 40px;
}

.atds {
	width: 80px;
	text-align: center;
}

.atds .px {
	width: 60px;
}

.attp {
	text-align: center;
	width: 40px;
}

.attach_preview {
	border: 1px solid #C2A678;
	box-shadow: 0 0 5px rgba(96,96,96,0.3);
}

.ie8 .attach_preview,.ie9 .attach_preview {
	top: 57px;
	right: 18px;
}

#sti {
}

#sti .wx {
	padding-left: 25px;
	background-position: 0 50%;
}

#sti .tb {
	margin-top: 0;
}

#f_pst .bm_c {
	padding: 20px;
}

#f_pst .tedt {
	width: auto;
}

.hasfsl {
	margin-right: 170px;
	zoom: 1;
}

#f_pst .upfl {
	height: auto;
	max-height: 100%;
}

#f_pst .upfl td {
	padding: 4px 0;
}

#f_pst .atds {
	width: 100px;
}

#f_pst .px {
	padding: 2px;
}

#threadbeginid {
	position: fixed;
	top: 0px;
	left: 0px;
	z-index: 999;
}

#threadbeginid .beginidin {
	position: absolute;
	top: 0;
	right: 0px;
	z-index: 999;
}

#threadbeginid .beginidimg {
	background: white;
	filter: alpha(opacity=0);
	opacity: 0;
}

.fl {
}

.fl_tb {
	width: 100%;
}

.fl_tb td {
	padding: 10px 0;
}

.fl_icn {
	padding-right: 10px !important;
	width: 31px;
}

.fl_by {
	width: 220px;
}

.fl_by div {
	margin-left: 10px;
	width: 210px;
	padding-left: 8px;
	word-break: keep-all;
	word-wrap: normal;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.fl_by div .xi2 {
	zoom: 1;
}

.fl_by cite {
	display: block;
}

.fl_i {
	width: 150px;
	text-align: right;
}

.fl_i em {
	display: block;
	width: 5em;
}

.fl .i_z {
	margin-right: 8px;
	padding-right: 8px;
	border-right: 1px solid #CFB78E;
}

.fl_icn_g {
	float: left;
	width: 31px;
}

.fl_g {
	vertical-align: top;
}

.fl_g dl {
	margin-left: 31px;
	padding-left: 10px;
}

.fl_g dt {
	font-weight: 700;
}

.fl_row td {
	border-top: 1px dashed #C2A678;
}

.flt {
}

.flt .flc {
	width: 294px;
}

.gcop {
	margin-right: 15px;
	clear: left;
}

.ghfl dt,.flt dt {
	font-size: 14px;
	font-weight: 700;
}

.ghfl dt span,.flt dt span,.flt dd span {
	font-size: 12px;
	font-weight: 200;
	color: #999;
}

.ghfl dd,.flt dd {
	line-height: 1.8em;
}

.previewPost {
	width: 100%;
	font-size: 14px;
}

#ReTie_review h6 {
	padding: 0 10px;
	line-height: 27px;
}

.review_this {
	padding: 5px 0 10px;
}

.review_this li {
	float: left;
	width: 7.5%;
	text-align: center;
}

#forumnew {
	position: absolute;
	right: 0;
	top: 0;
	z-index: -1;
}

.tl #forumnewshow {
	background: #FFFFFF;
	font-size: 12px;
	text-align: center;
}

.tl #forumnewshow th,.tl #forumnewshow td {
	padding: 0;
	border: 0;
}

.tl #forumnewshow th:hover,.tl #forumnewshow td:hover {
	background: #FFFFFF;
}

.tl #forumnewshow a {
	display: block;
	border-top: 1px solid #FFFFFF;
	border-bottom: 1px solid #FFFFFF;
	text-indent: 25px;
	height: 29px;
	line-height: 29px;
	color: #EFAA00;
}

.tl #forumnewshow a:hover {
	text-decoration: none;
}

#checknewline tr td,#checknewline tr th {
	background: #FFFFEB;
	text-align: center;
	color: #666;
}

.newthread tr th,.newthread tr td {
	background: #FFFAF3;
}

.newthread .new em {
	margin-right: 4px;
}

.newthread .new em,.newthread .new em a {
	color: #007CD5;
	font: 12px/1.5 Tahoma,'Hiragino Sans GB','WenQuanYi Micro Hei','Microsoft Yahei',sans-serif;
}

#fjump_menu {
	overflow-x: hidden;
	max-height: 600px;
}

#fjump_menu dl {
	width: 200px;
}

#fjump_menu dt {
	font-weight: 700;
}

#fjump_menu dd {
	text-indent: 1em;
}

#fjump_menu li.a a {
	background-color: #FFFFFF;
}

.fct a {
	float: left;
	margin-left: 8px;
}

#fh {
	width: 644px;
}

.mw #fh {
	width: 100%;
}

#fh .bm {
	padding-top: 5px;
	padding-bottom: 0;
}

#nv_group #fh {
	margin-bottom: 1em;
}

#fh #gh {
	padding-top: 10px;
}

#fh .h {
	margin-top: 10px;
}

#fh .h * {
	float: left;
}

#fh h1 {
	margin-right: 10px;
	font-size: 16px;
}

#fh .h .y {
	float: right;
}

#fh .o a {
	float: left;
	margin-right: 10px;
}

#fh.m {
	padding-top: 0;
	background-color: #fbf2db;
}

.xst {
	font-family: Tahoma,'Hiragino Sans GB','WenQuanYi Micro Hei','Microsoft Yahei',sans-serif;
	font-size: 14px;
}

.xst i {
	font-style: italic;
}

.ttp {
	margin-bottom: 5px;
	padding-top: 10px;
	border-width: 2px 0 0;
}

.ttp li {
	float: left;
	padding-bottom: 5px;
}

.ttp a,.ttp strong {
	float: left;
	margin-right: 5px;
	padding: 4px 8px 3px;
	height: 18px;
	border: 1px solid #C2A678;
	background: #FBF2DB;
	white-space: nowrap;
}

.ttp a:hover {
	border-color: #369;
	color: #369;
	text-decoration: none;
}

.ttp .a a {
	padding-right: 12px;
	padding-left: 12px;
	border-color: #369;
	background: #FFFFFF;
	color: #369;
}

.ttp .pipe {
	float: left;
	margin-right: 10px;
	padding: 0;
	width: 2px;
	height: 27px;
	background: #99876C;
	text-indent: -9999px;
}

.cttp {
	overflow: hidden;
	padding-right: 35px;
	height: 32px;
}

.cttp .unfold,.cttp .fold {
	float: right;
	display: inline;
	margin: 5px -35px 9px 0;
	padding: 0 0 0 10px;
	width: 25px;
	height: 18px;
	background-color: transparent;
	color: #369;
	font-weight: 400;
}

.tl .bm_c {
	padding-top: 0;
}

.tl table {
	border-collapse: separate;
}

.tl th,.tl td {
	padding: 5px 0;
	border-bottom: 1px solid #3B87AB;
}

.emptb th,.emptb td {
	padding: 0;
	border-bottom: none;
}

.tl tr:hover th,.tl tr:hover td {
	background-color: #fbf2db;
}

.tl .threadpre td,.tl .threadpre:hover td {
	background-color: #FBF2DB;
}

.tl .threadpre .threadpretd {
	border-left: 1px solid #FFFFFF;
	border-right: 1px solid #CFB78E;
}

.tl th:hover .tdpre,.tl td.fn:hover .tdpre {
	visibility: visible;
}

.ie6 .tl th .tdpre,.ie6 .tl td.fn .tdpre {
	display: none;
}

.fastpreview {
	position: relative;
}

.fastpreview td {
	border-bottom: none!important;
}

.tl th,.tl td.fn {
	padding-right: 1.5em;
	zoom: 1;
}

.tl th a:visited,.tl td.fn a:visited {
	color: #666;
}

.fromg {
	visibility: hidden;
}

.ie6 .fromg,tr:hover .fromg {
	visibility: visible;
}

.tl .icn {
	padding-left: 5px;
	width: 25px;
	text-align: left;
}

.tl .icn a:hover {
	text-decoration: none;
}

.tl .new {
}

.tl .comm {
}

.tl .frm {
	width: 150px;
}

.tl .o {
	width: 20px;
}

.tl .num {
	width: 60px;
	line-height: 14px;
}

.tl .by {
	width: 105px;
	line-height: 14px;
}

.tl cite,.tl .num em {
	display: block;
}

.tl th em {
	margin-right: 4px;
	zoom: 1;
}

.tl th em,.tl th em a {
	color: #007CD5;
}

.tl td em {
	font-size: 11px;
	font-family: Arial,Psimsun,sans-serif;
	-webkit-text-size-adjust: none;
}

.tl td em,.tl td em a {
	color: #999;
}

.tl .ts th,.tl .ts td {
	padding: 3px 0;
	border-bottom-color: #FFFFFF;
	background: #FFFFFF;
}

.tl .th {
	margin-top: 1px;
	padding: 0 10px;
	border-bottom: 1px solid #FFFFFF;
	background: #FFFFFF;
}

.tl .th table {
	border: none;
}

.tl .th td,.tl .th th {
	height: 20px;
	border: none;
	vertical-align: baseline;
}

.tl .tf {
	padding: 3px 0;
}

.tf .showmenu:hover {
	border-color: #3B87AB;
}

.recy {
	text-decoration: line-through;
}

.tps {
	white-space: nowrap;
}

.tps a {
	padding: 2px 4px;
	color: #444;
}

.tps a:hover {
	background-color: #3B87AB;
	color: #007CD5;
}

.tsm {
	overflow: hidden;
	margin-bottom: -10px;
	width: 100%;
	border-collapse: collapse !important;
}

.ie6 .tsm,.ie7 .tsm {
	margin-bottom: 0;
}

.tsm th {
	padding: 5px 0 5px 10px;
	border: none;
	vertical-align: top;
}

.tsm td {
	padding: 5px 10px 5px 0;
	border: none;
	vertical-align: top;
}

.tsm tr:hover th,.tsm tr:hover td {
	background: none !important;
}

.tsm li {
	float: left;
	margin-right: 4px;
	padding: 0 4px;
	white-space: nowrap;
}

.tsm .a a {
	color: #444;
	font-weight: 700;
}

.tsm .a a:hover {
	text-decoration: none;
}

.subtsm {
	margin-top: 5px;
	padding: 5px;
	border: 1px dotted #99876C;
}

.mfm .mtm {
	margin-right: 10px;
}

.mfm span {
	height: 26px;
}

#ttp_all a:hover {
	background-image: none !important;
}

.ie_all #atarget,.ie_all .unchk,.ie_all .chked {
	display: inline-block;
	height: 20px;
	line-height: 20px;
}

#atarget.atarget_1,.chked {
	background-position: 0 -37px;
}

.unchk:hover,.chked:hover {
	text-decoration: none;
}

.ttp .num {
	background: #999;
	padding: 0 5px;
	margin-left: 5px;
	border-radius: 3px;
	color: #FFF !important;
}

.ttp .a .num {
	background: #91BDD3;
}

.pop_moremenu li {
	display: block;
	border-bottom: 1px solid #E5EDF2;
	line-height: 24px;
}

.pop_moremenu a {
	display: inline;
	text-decoration: none;
	border-bottom: 0;
}

.pop_moremenu li:last-child {
	border-bottom: none;
}

.pop_moremenu .pipe {
	margin: 0;
}

.pop_moremenu a.xw1 {
	background-color: #E3C99E;
	color: #369;
	text-decoration: none;
	font-weight: normal;
}

.mlt {
}

.mlt li {
	display: inline;
	margin: 0 4px 10px;
	padding-top: 5px;
	border: 1px solid #E3C99E;
	border-bottom-color: #99876C;
	background: #FFF;
	text-align: left;
}

.mlt .sum {
	display: inline-block;
	padding: 0 5px;
	height: 16px;
	line-height: 16px;
	border-radius: 5px;
	background: #E3C99E;
}

.mlt .pin {
	background: #7B3;
	color: #FFF;
}

.mlt .digest {
	background: #0BC;
	color: #FFF;
}

.mlt img.vm {
	display: inline;
}

.mlt h3 {
	height: 30px;
	line-height: 30px;
	font-weight: 400;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.mlt li .cl {
	height: 18px;
	overflow: hidden;
}

.mlt li .c {
	height: auto !important;
}

.mlt li span {
	display: inline;
	color: #444;
}

.tl tbody:last-child th,.tl tbody:last-child td {
	border-bottom: none;
}

.tl tbody:last-child .threadpre .threadpretd {
	border: 1px solid #CFB78E;
}

.showhide:hover {
	background-position: 0 -12px;
}

.ie6 .showhide {
	display: none;
}

.pcb .jammer {
	font-size: 10px;
	color: #FBF2DB;
}

#hiddenthread {
	border-top: 1px solid #C2D5E3;
	border-bottom: 1px solid #C2D5E3;
	line-height: 40px;
	padding-left: 20px;
	background: #FFFAF3;
	font-size: 12px;
	text-align: center;
}

#hiddenthread.last,.ie6 #hiddenthread,.ie7 #hiddenthread,.ie8 #hiddenthread {
	border-top: none;
}

#hiddenthread a {
	display: block;
	text-indent: 25px;
	height: 29px;
	line-height: 29px;
	color: #EFAA00;
}

#hiddenthread a:hover {
	text-decoration: none;
}

.previewPost .tindex {
	padding: 5px;
	width: 500px;
	line-height: 22px;
	border: 1px solid #CCC;
}

.previewPost .tindex h3 {
	border-bottom: 1px #ccc dotted;
	margin-bottom: 10px;
	padding-left: 10px;
}

#visitedforums_menu {
	width: 150px;
}

#visitedforums_menu li {
	display: block;
	float: none;
}

#visitedforums_menu td {
	padding: 5px 10px;
	vertical-align: top;
}

#visitedforums_menu a {
	white-space: normal !important;
	display: inline-block;
	overflow: hidden;
	height: 1.5em;
}

#v_forums {
	width: 120px;
}

#fastsmilies {
	text-align: right;
}

#fastsmilies table {
	table-layout: auto;
	width: 160px;
	height: 133px;
}

#fastsmilies td {
	text-align: right;
	vertical-align: middle;
	cursor: pointer;
}

#fastsmilies img {
	vertical-align: middle;
}

#livereplycontentout {
	position: relative;
	height: 195px;
	margin-top: 10px;
	border: 1px solid #E8F1F7;
	background: #fbf2db;
	overflow-y: auto;
}

#livereplycontent {
	position: absolute;
	left: 0;
	bottom: 0;
	padding: 0 15px;
}

#liverefresh {
	margin-top: 10px;
	height: 30px;
	line-height: 30px;
	background-color: #FCF4CD;
	color: #fff;
	text-align: center;
	cursor: pointer;
	display: none;
	border: 1px dashed #FCE491;
	color: #F26C4F;
}

#livefastcomment {
	position: relative;
	height: 34px;
	margin: 10px 0px 0px 0px;
	border: 1px solid #E8F1F7;
	background-color: #fbf2db;
	padding: 5px 10px;
}

#livereplycontent dl {
	position: relative;
	width: 100%;
	min-height: 45px;
	line-height: 20px;
	padding: 10px 0;
	border-top: 1px #ccc dotted;
	clear: both;
}

#livereplycontent dl dt {
	position: absolute;
	left: 0;
	top: 10px;
	width: 40px;
	height: 40px;
	border: 1px #ccc solid;
	padding: 1px;
}

#livereplycontent dl dt img {
	width: 40px;
	height: 40px;
}

#livereplycontent dl dd {
	padding-left: 62px;
}

#livereplycontent dl dd a {
	color: #369;
}

#livereplycontent dl dd.dateline {
	position: absolute;
	top: 10px;
	right: 0;
	padding: 0;
	color: #999;
}

#livereplymessage {
	width: 100%;
	line-height: 28px;
	height: 33px;
	padding: 0px !important;
	border: none;
	outline: 0px;
	background: #f9f8f6 none;
	overflow-y: auto;
}

.ie6 #livereplycontent dl,.ie7 #livereplycontent dl {
	width: 97%;
}

#livethread {
	background: #fbf2db;
	border-top: 2px solid #BDD7E3;
}

.livethreadtitle {
	margin-bottom: 5px;
}

.livethreadtitle a {
	color: #369;
	font-size: 14px;
}

.livethreadtitle img {
	vertical-align: middle;
}

.livethreadtitle .replynumber {
	float: right;
	line-height: 25px;
}

.livethreadtitle .replynumber .xi1 {
	background: #F26C4F;
	padding: 0 5px;
	border-radius: 5px;
	color: #FFF;
	font-weight: 700;
}

.livethreadcon {
	line-height: 160%;
	font-size: 14px;
}