*{
	word-wrap:break-word;
}
#body_fixed_bg{
	width:100%;height:100%;position:fixed;top:0;z-index:-99999;background:#FFFFFF url("../images/body_bg.jpg") 0 0 no-repeat;;background-size:cover;
}
body,input,button,select,textarea{
	font:12px/1.5 Tahoma,'Hiragino Sans GB','WenQuanYi Micro Hei','Microsoft Yahei',sans-serif;color:#014165;
}
body,ul,ol,li,dl,dd,p,h1,h2,h3,h4,h5,h6,form,fieldset{
	margin:0;padding:0;scroll-behavior:smooth;
}
ul li{
	list-style:none;
}
h1,h2,h3,h4,h5,h6{
	font-size:1em;
}
a{
	color:#014165;text-decoration:none;-webkit-transition:all 0.2s ease;transition:all 0.2s ease;
}
a:hover{
	text-decoration:underline;color:#3B88AC;
}
a img{
	border:none;
}
.z{
	float:left;
}
.y{
	float:right;
}
.cl:after{
	content:".";display:block;height:0;clear:both;visibility:hidden;
}
.cl{
	zoom:1;
}
.hidefocus{
	outline:none;
}
.pipe{
	margin:0 5px;color:#CCC;
}
.xs0{
	font-family:Tahoma,'Hiragino Sans GB','WenQuanYi Micro Hei','Microsoft Yahei',sans-serif;font-size:0.83em;-webkit-text-size-adjust:none;
}
.xi2,.xi2 a{
	color:#014165;
}
.avt img{
	-moz-border-radius:5px;-webkit-border-radius:5px;border-radius:5px;
}
.avt img{
	padding:2px;width:48px;height:48px;background:#FFFFFF;border:1px solid;border-color:#FFFFFF #FFFFFF #FFFFFF #FFFFFF;
}
.hd_t_a{
	display:block;padding:6px 0 6px;text-align:center;line-height:17px;height:34px;
}
.wp{
	margin:0 auto;width:960px
}
#wp .wp{
	background:#FFFFFF;width:auto;
}
.new_wp{
	margin:0 auto;width:1130px;
}
.mc_top{
	z-index:1;position:absolute;right:300px;margin-top:-130px;
}
.mc_map_wp{
	width:1130px;margin:0 auto;overflow:hidden;
}
.mc_map_border_top{
	float:left;width:1130px;height:59px;background:url(../images/bg_border_top.png) center center no-repeat;background-size:1130px 59px;margin-bottom:-1px;
}
.mc_map_border_foot{
	float:left;width:1130px;height:59px;background:url(../images/bg_border_foot.png) center center no-repeat;background-size:1130px 59px;
}
.mc_map_border_left{
	float:left;width:1130px;background:#FFFFFF url(../images/bg_border_left.png) left top repeat-y;background-size:84px 100px;
}
.mc_map_border_right{
	float:left;width:1130px;background:url(../images/bg_border_right.png) right top repeat-y;background-size:84px 100px;
}
#toptb{
	min-width:1130px;border:0;background:url(../images/top_bg.png);background-size:85px;line-height:47px;
}
#toptb a{
	height:40px;
}
#toptb a.showmenu{
	padding-right:0px;background:none
}
#toptb .light a{
	padding:0 10px;height:47px;color:#fff;float:inherit;
}
#toptb .light a:hover{
	background:rgba(255,255,255,1) center bottom no-repeat;background-size:100% 37px;color:#3B88AC;text-decoration:none;transition-duration:.3s;
}
#toptb a.hover{
	background-color:#FFF;
}
#toptb .pipe{
	float:left;display:none;
}
#toptb .avt img{
	width:30px;height:30px;border:1px solid #FFFFFF;background:#3B88AC;transition:opacity 200ms ease 0s;
}
.user_tools{
	float:right;padding:6px 10px 0;
}
.user_tools a{
	background-image:url(../images/message.png);background-repeat:no-repeat;width:34px;float:left;height:34px;image-rendering:pixelated;margin:0px 4px;
}
.user_tools a.newtips0{
	background-position:3px 0
}
.user_tools a.newtips1{
	background-position:-34px 0
}
.user_tools a.newtips2{
	background-position:-68px 0
}
.user_tools a.newtips3{
	background-position:-102px 0
}
.user_tools a.newtips4{
	background-position:-136px 0
}
.user_tools a.newtips5{
	background-position:-170px 0
}
.user_tools a.newtipsmore{
	background-position:-204px 0
}
.user_tools a.friends{
	background-image:url(../images/friends.png);
}
.user_tools a.tools{
	background-image:url(../images/tools.png);
}
#user_info_menu{
	position:absolute;
	z-index:10;
	margin-left:-40px;
	margin:0 -80px;
	background:url(../images/bg-wool-white.png);
	border:1px solid #FFFFFF;
	border-radius:5px;
	-webkit-box-shadow:0px 4px 6px -4px grey;
	-moz-box-shadow:0px 4px 6px -4px gray;
	box-shadow:0px 4px 6px -4x gray;
	padding:10px 0 3px 5px;
}
#user_info_menu{
	width:185px;
}
.user_info_menu_info{
	margin:4px 4px 4px 0;
}
.user_info_menu_info,.user_info_menu_btn{
	line-height:1.6em;
}
.user_info_menu_info li{
	text-align:center
}
.user_info_menu_info li a img{
	width:40px;height:40px;
}
.user_info_menu_info li p.username{
	font-weight:600;text-align:center;font-size:16px;
}
.user_info_menu_info li a.rank{
	background-color:#3B88AC;font-size:12px;display:inline-block;padding:0 2px;color:white !important;height:auto !important;
}
.user_info_menu_btn{
	margin:5px 5px 0 0;overflow:hidden;border-top:1px solid #FFFFFF;padding-top:9px;text-align:center;
}
.user_info_menu_btn li{
	text-align:center;margin:5px 0;display:inline-block;padding:0 10px;
}
.user_info_menu_btn a{
	padding:5px 5px;font-size:13px;text-decoration:none;
}
.user_info_menu_btn a:hover{
	background:url(../images/bg-wool-dark.png);color:#3B88AC;
}
#myprompt_menu{
	text-align:center;margin:0 -15px;
}
#myprompt_menu a{
	border-bottom:none;padding:3px 15px;
}
#usertools_menu{
	text-align:center;margin:0 -15px;
}
#usertools_menu a{
	border-bottom:none;padding:3px 15px;
}
#hd{
	border-bottom:0 solid #FFFFFF;
}
#hd .wp{
	padding:0;margin:0 85px;float:left;
}
.hdc{
	min-height:70px;
}
#hd h2{
	padding:0 20px 8px 0;float:left;
}
#hd .h_pop{
	width:132px;min-width:132px;padding:0 0 5px 0;border:0;background:#FFFFFF;border:1px solid #FFFFFF;border-top:none;
}
#hd .p_pop a{
	text-align:center;color:#000;padding:2px 0 0;font-size:13px;height:27px;line-height:27px;background:#FFFFFF;
}
#hd .p_pop a:hover{
	color:#3B88AC;
}
#nv{
	height:60px;width:670px;background:none;position:relative;float:left;z-index:2;overflow:hidden;
}
#nv .nv_ul{
	width:670px;height:57px;padding-top:3px;float:left;background:#FFFFFF url("../images/nv.png") no-repeat 0 0;background-size:670px 60px;
}
#nv li{
	float:left;padding-right:1px;height:33px;line-height:33px;font-weight:700;font-size:14px;
}
#nv li span{
	display:none;
}
#nv li a{
	float:left;padding:0 15px;height:33px;color:#FFF
}
#nv .nv_ul li{
	float:left;width:134px;padding:0;margin:0;height:57px;line-height:56px;background:0 0
}
#nv .nv_ul li a{
	float:left;width:132px;height:57px;padding:0;text-align:center;font-size:18px;background:0 0;border-right:1px solid #014165;border-left:1px solid #3B88AC
}
#nv .nv_ul li:last-child a{
	border-right:1px solid #014165
}
#nv .nv_ul li a:hover{
	background:0 0;color:#3B88AC;text-decoration:none;transition-duration:.3s;
}
#nv li.a,#nv li.a a{
	background:none;color:#014165;text-decoration:none;
}
#nv .nv_ul li a:hover{
	background:#ffffff;
}
#nv .nv_ul li:first-child a:hover{
	border-left:1px solid #ffffff;
}
#nv .nv_ul li:nth-child(4) a:hover,#nv .nv_ul li:nth-child(5) a:hover{
	border-color:#ffffff;
}
#nv_right{
	width:220px;height:60px;padding-left:50px;float:left;position:relative;z-index:2;margin-left:20px;background:url(../images/notice_bg.png) left top no-repeat;background-size:270px 60px;image-rendering:pixelated;
}
#an{
	width:220px;height:60px;margin:0;
}
#anc{
	height:40px;overflow:hidden;padding:0;margin:10px 0;background:none;
}
#an li{
	height:40px;overflow:hidden;margin:0;background:none;
}
#an li{
	float:right;clear:both;width:210px;position:relative;text-align:left;word-break:break-all;word-wrap:break-word;white-space:normal;padding:5px 10px 5px 0;height:30px;line-height:15px;
}
#an li span{
	float:left;width:210px;overflow:hidden;display:-webkit-box;-webkit-box-orient:vertical;-webkit-line-clamp:2;
}
#an li span a{
	display:inline;
}
#an li em{
	color:#FFF;display:inline;position:absolute;top:20px;right:10px;width:70px;height:15px;line-height:15px;visibility:collapse;
}
#mu{
	position:relative;z-index:1;
}
#mu ul{
	background:url(../images/mu_bg.png) no-repeat 0 100%;line-height:22px;z-index:2;font-size:12px;
}
#mu li{
	float:left;height:32px
}
#mu a{
	float:left;display:inline;margin:5px 6px;padding:0 10px;white-space:nowrap;
}
#mu a:hover{
	margin:4px 5px;border:1px solid #FFFFFF;background:#FFFFFF;color:#FFF;text-decoration:none;
}
#ct{
	min-height:300px;
}
#ft{
	padding:10px 0 50px;border-top:1px solid #FFFFFF;line-height:1.8;color:#666;
}
#flk{
	text-align:right;
}
#flk img{
	vertical-align:middle;
}
#scrolltop{
	visibility:hidden;position:fixed;bottom:100px;display:block;margin:-30px 0 0 2px;width:40px;background:#f4f4f4;border:1px #cdcdcd solid;border-radius:3px;border-top:0;cursor:pointer;
}
#scrolltop:hover{
	text-decoration:none;
}
#scrolltop a{
	display:block;width:30px;height:24px;padding:3px 5px;line-height:12px;text-align:center;color:#787878;text-decoration:none;background:url(../images/scrolltop2.png) no-repeat 0 0;border-top:1px #cdcdcd solid;
}
#scrolltop a b{
	visibility:hidden;font-weight:normal;
}
#sslct_menu{
	padding:6px 10px 10px;
}
.sslct_btn{
	float:left;margin:4px 4px 0 0;width:12px;height:12px;border:1px solid #FFFFFF;cursor:pointer;
}
.sslct_btn i{
	float:left;display:inline;margin:1px;width:10px;height:10px;background:#2E80D1;overflow:hidden;font-style:normal;
}
.p_pop{
	padding:4px;border:1px solid;min-width:60px;border-color:#FFFFFF;background:url(../images/bg-wool-white.png);box-shadow:1px 2px 2px rgba(0,0,0,0.3);transition-duration:.3s;
}
.p_pop{
	padding:0;border:none;box-shadow:none;
}
.p_pop li{
	display:inline;
}
.p_pop a{
	display:block;padding:3px 5px;border-bottom:1px solid #FFFFFF;white-space:nowrap;
}
.p_pop li:last-child a{
	border:none;
}
.p_pop a:hover,.p_pop a.a{
	background-color:#FFFFFF;color:#3B88AC;text-decoration:none;transition-duration:.3s;
}
.h_pop{
	min-width:120px;border-top:none;
}
.frame{
	margin-bottom:10px;border:1px solid #FFF;background:#FFFFFF;
}
.title{
	padding:0 10px;height:32px;font-size:14px;font-weight:700;line-height:32px;overflow:hidden;
}
.frame .title .titletext,.block .title .titletext{
	float:left;
}
.block{
	margin:10px 10px 0;
}
#ct .frame{
	margin:0;border:none;
}
.slideshow{
	clear:both;
}
.slideshow li{
	position:relative;overflow:hidden;
}
.slideshow span.title{
	position:absolute;bottom:0;left:0;margin-bottom:0;width:100%;height:32px;line-height:32px;font-size:14px;text-indent:10px;
}
.slideshow span.title{
	background:rgba(0,0,0,0.3);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr = #30000000,endColorstr = #30000000);color:#FFF;overflow:hidden;
}