#portal_left {
	width: 670px;
	float: left;
}

.portal_left_dev {
	width: 668px;
	background: transparent;
	margin-bottom: 12px;
	border: 1px solid #cdcdcd;
	border-top: 0;
}

.portal_left_dev .portal_left_title {
	height: 35px;
	margin: 0;
	background: url(../images/title_bg_long.png) left top no-repeat;
	background-size: 960px 35px;
	padding-left: 50px;
}

.portal_left_dev .portal_left_title_nav {
	width: 80px;
	height: 32px;
	margin-top: 3px;
	float: left;
	cursor: pointer;
	color: #3B88AC;
	font-size: 14px;
	line-height: 29px;
	text-align: center;
}

.portal_left_dev .portal_left_title_nav.a {
	color: #FFFFFF;
	background: #3B88AC;
	font-weight: 600;
	font-size: 16px;
	line-height: 32px;
}

.portal_left_dev .portal_left_more {
	float: right;
	color: #fff;
	padding: 1px 3px;
	margin: 6px 10px 0 0;
	font-size: 14px;
	border: none;
	text-decoration: underline;
}

.frame {
	background: transparent
}

#portal_left .block {
	margin: 0;
}

.ss3_wrapper {
	position: relative;
	width: 670px;
	height: 320px;
	margin: 0;
}

.ss3_wrapper .slideshow {
	position: relative;
	width: 670px;
	height: 320px;
}

.ss3_wrapper .slideshow_item {
	width: 670px;
	height: 320px;
}

.ss3_wrapper .slideshow_item .image img {
	width: 670px;
	height: 320px;
}

.ss3_wrapper .slideshow_item .thumb {
	display: none;
}

.ss3_wrapper a.slideshow_prev {
	position: absolute;
	left: 0;
	bottom: 15px;
	z-index: 12;
	width: 30px;
	height: 50px;
	outline: none;
	cursor: pointer;
}

.ss3_wrapper a.slideshow_prev span {
	display: block;
	width: 30px;
	height: 50px;
	background: url(../images/arrows.png) no-repeat -60px 50%;
	text-indent: -9999px;
}

.ss3_wrapper a.slideshow_next {
	position: absolute;
	right: 0;
	bottom: 15px;
	z-index: 12;
	width: 30px;
	height: 50px;
	outline: none;
	cursor: pointer;
}

.ss3_wrapper a.slideshow_next span {
	display: block;
	width: 30px;
	height: 50px;
	background: url(../images/arrows.png) no-repeat -10px 50%;
	text-indent: -9999px;
}

.ss3_wrapper .slideshow_paging {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 612px;
	height: 55px;
	padding: 13px 29px 12px 29px;
	margin: 0;
	z-index: 11;
	background: rgba(0,0,0,0.5);
	font-size: 12px;
	list-style: none;
	overflow: hidden;
}

.ss3_wrapper .slideshow_paging li {
	display: block;
	float: left;
	margin: 0;
	height: 43px;
	padding: 6px;
	background: #014165;
}

.ss3_wrapper .slideshow_paging a {
	width: 90px;
	display: block;
	float: left;
	margin: 0;
	padding: 0;
	color: #ccc;
}

.ss3_wrapper .slideshow_paging a img {
	width: 90px;
	height: 43px;
}

.ss3_wrapper .slideshow_paging a:hover {
	color: #3B88AC;
}

.ss3_wrapper .slideshow_paging .activeSlide {
	background-color: #3B88AC;
}

#portal_index_right {
	width: 270px;
	float: left;
	margin-left: 20px;
}

#portal_index_right .frame {
	background: #FFFFFF;
}

#portal_index_right .block {
	margin: 10px 0;
	padding: 0;
	background: transparent;
	border: 1px solid #cdcdcd;
	overflow: hidden;
}

#portal_index_right .block .title {
	margin: 0;
	width: 220px;
	height: 35px;
	padding: 0 0 0 50px;
	color: #fff;
	line-height: 35px;
	background: #fff url(../images/title_bg_short.png) left top no-repeat;
	background-size: 270px 35px;
}

#portal_index_right .block .dxb_bc {
	padding: 0;
}
